/* Your CSS here... */

#messages {
	font-family: Helvetica;
	font-size: 32px;
	border-radius: 10;
	border-width: 5;
	border-color: #FFFFFF;
	background-color: #0099FF;
}

#author {
	font-size: 24px;
}