/* Your CSS here... */
.body {
	font-family: Helvetica;
}

.h1 {
	font-size: 55px;
}

#messages {
	border: 10px;
	font-size: 32px;
	border-radius: 10;
	border-color: #FFFFFF;
	background-color: #0099FF;
}

#author {
	font-size: 24px;
}
