/* CSS Definition for Messages Lab */
body .h1 {
	font-family: Helvetica;
	font-size: 55px;
}

#messages .p {
	font-family: Helvetica;
	font-size: 32px;
	border: 10px;
	border-radius: 10px;
	border-color: #FFFFFF;
	background-color: #0099FF;
}

#author {
	font-size: 24px;
}
